# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Test images (not needed in repo)
*.jpeg
*.jpg
*.png
!assets/**
